@import "tailwindcss";

@theme {
  --color-primary-50:  oklch(95%   0.010 36.259);
  --color-primary-100: oklch(90%   0.015 36.259);
  --color-primary-200: oklch(80%   0.025 36.259);
  --color-primary-300: oklch(65%   0.040 36.259);
  --color-primary-400: oklch(50%   0.060 36.259);
  --color-primary-500: oklch(26.6% 0.079 36.259); /* your base */
  --color-primary-600: oklch(22%   0.070 36.259);
  --color-primary-700: oklch(18%   0.060 36.259);
  --color-primary-800: oklch(14%   0.050 36.259);
  --color-primary-900: oklch(10%   0.040 36.259);
}
